.top {
    height: 40vh;
    background-image: linear-gradient(rgba($color-black, .9), rgba($color-black, .35)), url(../img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}